.a1{
    color:red;
    text-align: center;
    text-transform: capitalize;
    font-style: oblique;
    font-variant: small-caps;
}
.a2{
    color:blue;
    text-align: left;
    text-transform: lowercase;
    font-style: normal;
    font-variant: small-caps;
}
.a3{
    color:green;
    text-align: right;
    text-transform: uppercase;
    font-style: italic;
    font-variant: small-caps;
}