ul{
    list-style-type: none;
    border:2px solid black;
    background-color: lightgoldenrodyellow;
    display: block;
}
ul a:hover{
    color:red;
    background-color: lightsteelblue;
    font-size: large;
}

