.a1{
      color:red;
      font-style:oblique;
}
.a2{
    color:darkgreen;
    font-style:oblique;
    font-variant:small-caps;
}
.a3{
    color:royalblue;
    font-style:italic;
    font-variant:small-caps;
}